<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Intex 12’ x 30” Metal Frame Pool Set</string>
		<key>Video</key>
		<string>ClipC_Pool360</string>
		<key>reqURL</key>
		<string>http://api.developer.sears.com/v2.1/products/details/Sears/json/05234021000P?showSpec=false&amp;apikey=BE3wLmkvcn5KtQJJ8PNHpYAKZ3ZBrftG</string>
		<key>userIcon</key>
		<string>businesswoman-48</string>
		<key>productURL</key>
		<string>http://www.sears.com/intex-12ft-x-30in-round-frame-pool-package/p-05234021000P?prdNo=2&amp;blockNo=2&amp;blockType=G2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Race for the Galaxy</string>
		<key>Video</key>
		<string>Clip_B_RaceSetupAgain</string>
		<key>reqURL</key>
		<string>http://api.developer.sears.com/v2.1/products/details/Sears/json/004V001177937001P?showSpec=false&amp;apikey=BE3wLmkvcn5KtQJJ8PNHpYAKZ3ZBrftG</string>
		<key>userIcon</key>
		<string>shipped-48</string>
		<key>productURL</key>
		<string>http://www.kmart.com/rio-grande-race-for-the-galaxy/p-004V001177937001P?redirectType=SKIP_LEVEL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sears Craftsman Power Wheels F-150</string>
		<key>Video</key>
		<string>Clip1_Driving</string>
		<key>reqURL</key>
		<string>http://api.developer.sears.com/v2.1/products/details/Sears/json/05235132000P?showSpec=false&amp;apikey=BE3wLmkvcn5KtQJJ8PNHpYAKZ3ZBrftG</string>
		<key>userIcon</key>
		<string>businesswoman-48</string>
		<key>productURL</key>
		<string>http://www.sears.com/my-first-craftsman-fisher-price-power-wheels-my/p-05235132000P?prdNo=1&amp;blockNo=1&amp;blockType=G1</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Craftsman 153 Piece Tool Set</string>
		<key>Video</key>
		<string>ClipV_Craftsman</string>
		<key>reqURL</key>
		<string>http://api.developer.sears.com/v2.1/products/details/Sears/json/00939153000P?showSpec=false&amp;apikey=BE3wLmkvcn5KtQJJ8PNHpYAKZ3ZBrftG</string>
		<key>userIcon</key>
		<string>film_reel-48</string>
		<key>productURL</key>
		<string>http://www.sears.com/craftsman-153pc-universal-mts-set/p-00939153000P?prdNo=1&amp;blockNo=1&amp;blockType=G1</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Intex 12’ x 30” Metal Frame Pool Set</string>
		<key>Video</key>
		<string>ClipD_KidsInPool</string>
		<key>reqURL</key>
		<string>http://api.developer.sears.com/v2.1/products/details/Sears/json/05234021000P?showSpec=false&amp;apikey=BE3wLmkvcn5KtQJJ8PNHpYAKZ3ZBrftG</string>
		<key>userIcon</key>
		<string>idea-48</string>
		<key>productURL</key>
		<string>http://www.sears.com/intex-12ft-x-30in-round-frame-pool-package/p-05234021000P?prdNo=2&amp;blockNo=2&amp;blockType=G2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Race for the Galaxy</string>
		<key>Video</key>
		<string>Clip_A_RaceSetup</string>
		<key>reqURL</key>
		<string>http://api.developer.sears.com/v2.1/products/details/Sears/json/004V001177937001P?showSpec=false&amp;apikey=BE3wLmkvcn5KtQJJ8PNHpYAKZ3ZBrftG</string>
		<key>userIcon</key>
		<string>music-48</string>
		<key>productURL</key>
		<string>http://www.kmart.com/rio-grande-race-for-the-galaxy/p-004V001177937001P?redirectType=SKIP_LEVEL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sears Craftsman Power Wheels F-150</string>
		<key>Video</key>
		<string>Clip5_Crash</string>
		<key>reqURL</key>
		<string>http://api.developer.sears.com/v2.1/products/details/Sears/json/05235132000P?showSpec=false&amp;apikey=BE3wLmkvcn5KtQJJ8PNHpYAKZ3ZBrftG</string>
		<key>userIcon</key>
		<string>rating-48</string>
		<key>productURL</key>
		<string>http://www.sears.com/my-first-craftsman-fisher-price-power-wheels-my/p-05235132000P?prdNo=1&amp;blockNo=1&amp;blockType=G1</string>
	</dict>
</array>
</plist>
