<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Race For the Galaxy</string>
		<key>ImgURL</key>
		<string>https://cf.geekdo-images.com/images/pic236327.jpg</string>
		<key>DateOfPurchase</key>
		<date>2015-07-25T16:49:38Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Race For the Galaxy</string>
		<key>ImgURL</key>
		<string>https://cf.geekdo-images.com/images/pic236327.jpg</string>
		<key>DateOfPurchase</key>
		<date>2015-07-25T16:49:38Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Race For the Galaxy</string>
		<key>ImgURL</key>
		<string>https://cf.geekdo-images.com/images/pic236327.jpg</string>
		<key>DateOfPurchase</key>
		<date>2015-07-25T16:49:38Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Race For the Galaxy</string>
		<key>ImgURL</key>
		<string>https://cf.geekdo-images.com/images/pic236327.jpg</string>
		<key>DateOfPurchase</key>
		<date>2015-07-25T16:49:38Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Race For the Galaxy</string>
		<key>ImgURL</key>
		<string>https://cf.geekdo-images.com/images/pic236327.jpg</string>
		<key>DateOfPurchase</key>
		<date>2015-07-25T16:49:38Z</date>
	</dict>
</array>
</plist>
